flows.json
[
    {
        "id": "46c6be2e6a046f32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "lounge/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "cc79021b.9a751",
                "915f83ebdc1d1689",
                "c91a3e3dc0c925b7",
                "5d7c4a3a57eff92e"
            ]
        ]
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "46c6be2e6a046f32",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 490,
        "y": 20,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "46c6be2e6a046f32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "lounge/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "22efa7b7.544a28",
                "6ac1e9dc52b3511f"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "46c6be2e6a046f32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "f227d5ac8624fa69",
        "type": "mqtt in",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "aidansroom/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "650649f6d2c234d3",
                "588ccc63a8d5561a",
                "3856b2079137c523",
                "1559f2b160c9c4af"
            ]
        ]
    },
    {
        "id": "650649f6d2c234d3",
        "type": "debug",
        "z": "46c6be2e6a046f32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "4da5fe9dd16ab0a9",
        "type": "mqtt in",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "aidansroom/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 920,
        "wires": [
            [
                "fa23f744480f6a23",
                "10f55cd60b1bb53d"
            ]
        ]
    },
    {
        "id": "fa23f744480f6a23",
        "type": "debug",
        "z": "46c6be2e6a046f32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "588ccc63a8d5561a",
        "type": "ui_text",
        "z": "46c6be2e6a046f32",
        "group": "61285987.c20328",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aidans Room",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "915f83ebdc1d1689",
        "type": "ui_text",
        "z": "46c6be2e6a046f32",
        "group": "61285987.c20328",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lounge",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "3856b2079137c523",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Aidans Room Temp 2 days",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "76b288254f322d3b",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Aidans Room Humidity 2 weeks",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "c24a3aa78c8312af",
        "type": "mqtt in",
        "z": "46c6be2e6a046f32",
        "name": "",
        "topic": "outside/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "bde1bdeb49aceb39",
                "6a10f9a205be54f4",
                "3e5d5008bdc04437",
                "657828326ed8f0d8"
            ]
        ]
    },
    {
        "id": "bde1bdeb49aceb39",
        "type": "debug",
        "z": "46c6be2e6a046f32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 420,
        "wires": []
    },
    {
        "id": "704a8cc044675cc0",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Pressure (lounge) 2 weeks",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f036950df2a65f",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperatures 2 weeks",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6a10f9a205be54f4",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Outside Temp 2 days",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c91a3e3dc0c925b7",
        "type": "ui_chart",
        "z": "46c6be2e6a046f32",
        "name": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "lounge temp 2 days",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3e5d5008bdc04437",
        "type": "ui_text",
        "z": "46c6be2e6a046f32",
        "group": "61285987.c20328",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "outside temp",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "10f55cd60b1bb53d",
        "type": "delay",
        "z": "46c6be2e6a046f32",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 920,
        "wires": [
            [
                "76b288254f322d3b"
            ]
        ]
    },
    {
        "id": "1559f2b160c9c4af",
        "type": "delay",
        "z": "46c6be2e6a046f32",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 440,
        "wires": [
            [
                "b1f036950df2a65f"
            ]
        ]
    },
    {
        "id": "5d7c4a3a57eff92e",
        "type": "delay",
        "z": "46c6be2e6a046f32",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "b1f036950df2a65f"
            ]
        ]
    },
    {
        "id": "657828326ed8f0d8",
        "type": "delay",
        "z": "46c6be2e6a046f32",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "b1f036950df2a65f"
            ]
        ]
    },
    {
        "id": "6ac1e9dc52b3511f",
        "type": "delay",
        "z": "46c6be2e6a046f32",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "704a8cc044675cc0"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Inside Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]